section.activity
  each item in pages.index.activity
    a.activity__item(class=item.class href="")
      h2.activity__title #{item.title}
      p.activity__description #{item.description}
      span.button.button--activity Заказать
