footer.footer
  .socials
    .socials__icons-wrapper
      each social in footer.socials.list
        a.socials__item(href=social.link alt=social.name)
    .socials__text-wrapper
      h2.socials__title #{footer.socials.title}
      p.socials__discount #{footer.socials.discount}

