section.map(id="map")
  .map__contacts
    h2.map__title #{map.title}
    p.map__address #{map.address}
    a.map__phone(href="tel:+7(812)275-75-75") #{map.phone}
    button.button.button--write-us(type="button") #{map.button}
    button.close.map__toggle


