section.map(id="map")
  .map__wrapper
    h2.map__title #{pages.index.map.title}
    p.map__address #{pages.index.map.address}
    a.map__phone(href="tel:+7(812)275-75-75") #{pages.index.map.phone}
    button.button.button--write-us(type="button") #{pages.index.map.button}

