each item in product
  a.product(href="")
    .product__top-panel
      - for (var i =0; i < 3; i++)
      span.product__circle
    +picture("product__image", item.alt, false, item.name, "jpg", 360, 576)
    .product__overlay
      h3.product__title #{item.title}
      p.product__description #{item.description}
      span.product__price.button #{item.price}
