table.table
  thead
    tr
      each head in table.heads
        th.table__head #{head.name}
  tbody
    tr
      each number in table.numbers
        td.table__number #{number.indicator}<sup>%</sup>
