.activity {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;

  @include container();

  @media #{$media-lg} {
    align-items: center;
    margin-bottom: $gapSm;

    text-align: center;
  }
}

.activity__item {
  position: relative;

  max-width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 170px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    & .button {
      color: $color-bg;

      background-color: $color-primary-darker;
      &--apps {
        background-color: $color-button-green-hover;
      }
      &--presentation {
        background-color: $color-button-orange-hover;
      }
    }
  }
  &:active {
    & .button {
      color: transparentize($color-white, 0.7);

      background-color: $color-primary-darken;
      &--apps {
        background-color: $color-button-green-active;
      }
      &--presentation {
        background-color: $color-button-orange-active;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 300px;
    height: 146px;

    background-repeat: no-repeat;
    @media #{$media-lg} {
      left: 50%;

      transform: translateX(-50%);
    }
  }
  &--websites {
    &::before {
      background-image: url("../images/web-sites.png");
    }
  }
  &--apps {
    &::before {
      background-image: url("../images/apps.png");
    }
  }
  &--presentations {
    &::before {
      background-image: url("../images/presentations.png");
    }
  }
  @media #{$media-lg} {
    margin-right: 0;
    margin-left: 0;
  }
}

.activity__title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: $font-lg;
  color: $color-bold;
  text-transform: uppercase;
}

.activity__description {
  margin-bottom: 33px;

  line-height: 24px;
  color: $color-base;
}
