.examples {
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  padding-left: 63px;

  border-top: 2px solid $color-bg-secondary;
  border-bottom: 2px solid $color-bg-secondary ;

  @include container();
}

.examples__label-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 182px;
  padding-right: 49px;
  padding-left: 49px;
  @media #{$media-lg} {
    min-height: 150px;
    padding-right: 0;
    padding-left: 0;
    &::after {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 64px;
    right: 0;

    width: 2px;
    height: 52px;

    background-color: $color-bg-secondary;
    background-repeat: no-repeat;
    opacity: 1;
  }
  &:last-of-type {
    padding-right: 0;
    &::after {
      display: none;
    }
  }
  &:first-of-type {
    padding-left: 0;
  }
}

.examples__label {
  width: 100%;

  opacity: 0.2;

  object-fit: contain;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.1;
  }
}
