.nav {
  position: relative;

  justify-content: space-between;
  margin-bottom: 12px;
  padding-top: 78px;

  @include container();
  @media #{$media-lg} {
    margin-bottom: 30px;
  }
}

.nav__logo {
  margin-top: -30px;
  margin-right: 17.4%;
  @media #{$media-lg} {
    align-self: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.nav__toggle {
  @media #{$media-lg} {
    display: inline-flex;
  }
}
