extends ../common/layout.pug

block vars
  -var mainPage = false
  -var currentPageTitle = site.catalog.title
  -var currentPageName = site.catalog.name
  -var currentPageHref = site.catalog.href

block mainContent
  include ../blocks/catalog.pug
  include ../blocks/map.pug

