extends ../common/layout.pug

block vars
  -var index = false
  -var currentPageTitle = "Магазин готовых шаблонов"
  -var currentPageName = "Нердс - Магазин готовых шаблонов"
  -var currentPageLink = "catalog.html"

block mainContent
  include ../blocks/catalog.pug
  include ../blocks/map.pug

