extends ../common/layout.pug

block vars
  -var mainPage = true
  -var currentPageTitle = site.index.title
  -var currentPageHref = site.index.href

block mainContent
  include ../blocks/activity.pug
  include ../blocks/about.pug
  include ../blocks/examples.pug
  include ../blocks/map.pug
  include ../blocks/popup.pug
  .overlay
