extends ../common/layout.pug

block vars
  -var index = true
  -var currentPage = "Нёрдс - главная страница"

block mainContent
  include ../blocks/activity.pug
  include ../blocks/about.pug
  include ../blocks/examples.pug
