extends ../common/layout.pug

block vars
  -var index = true
  -var currentPageName = "Нёрдс - главная страница"
  -var currentPageLink = "index.html"

block mainContent
  include ../blocks/activity.pug
  include ../blocks/about.pug
  include ../blocks/examples.pug
  include ../blocks/map.pug
