block head
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preload" href="fonts/roboto-regular.woff2" as="font")
    link(rel="preload" href="fonts/roboto-bold.woff2" as="font")
    link(rel="stylesheet" href="css/swiper.min.css")
    link(rel="stylesheet" href="css/style.css")
    title #{currentPageName}
