doctype html
block vars
html(lang="ru")
  include head.pug
  body
    include svg.pug
    include ../blocks/header.pug
    main
      block mainContent
    include ../blocks/footer.pug
  script(src="js/swiper.min.js")
  script(src="https://api-maps.yandex.ru/2.1/?apikey=ffef55ce-28f1-4a3d-9a6f-bfbe68539814&lang=ru_RU" type="text/javascript")
  script(src="js/script.js")


