doctype html
block vars
html(lang="ru")
  include head.pug
  body
    include svg.pug
    include ../blocks/header.pug
    main
      block mainContent
    include ../blocks/map.pug
    include ../blocks/footer.pug
  script(src="js/swiper.min.js")
  script(src="js/script.js")
